.Skills-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 85vh;
  width: 100%;
}

.Basic-intro {
  text-align: center;
  min-width: 60%;
  margin-top: 5em;
}

.Skills-swapper {
  margin-top: 1em;
}

.Skills-list {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  min-width: 30%;
}
