.Skills-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.Ufo-intro-grouping {
  display: flex;
  width: 100%;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
}
.Basic-intro {
  text-align: center;
  min-width: 50%;
  font-size: 2rem;
  z-index: 1;
}

.Skills-swapper {
  margin-top: 1em;
}

.Skills-list {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 80%;
  margin-top: 5em;
}

.Single-skill {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.Lang-svgs {
  width: 40%;
}

.About-section {
  margin-top: 5em;
}
